@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 12px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

a:link {
  color: #A9A9A9;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: center;
  align-items: space-between;
  padding: 8px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: space-between;
  padding: 8px;
  background-color: #eeeeee;
}
